.search-container {
    padding-top: 40px;
}

.welcome {
    margin-bottom: 40px;
}

.autocomplete {
    position: relative;
    height: 100px;
}

.autocomplete-items {
    position: absolute;
    width: 100%;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
}